body{
background-image: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80) ), url("suit.png");
background-size: cover;
background-position: relative;



}


.navbar-default.navbar-toggle{

  background-color: white;
}



.navbar.semi-transparent {
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size:1.3em;
}

.navbar.semi-transparent.navbar-default .navbar-brand {
    color: yellow;
}
.navbar.semi-transparent.navbar-default .navbar-brand:hover{
  color:white;
}

.navbar.semi-transparent.navbar-default .navbar-nav>li>a{

  color:white;
}

.navbar.semi-transparent.navbar-default .navbar-nav>li>a:hover{

  color:#1abc9c;
}







ul a .navbar.semi-transparent{

    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
      box-shadow:none;
}




.navbar-brand{
  color: yellow;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar-brand:hover{

  color: white;
}


html{
  height: 100%;
}
#content {
  text-align: center;
  padding-top: 25%;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.imgMe{
padding-top: 150px;
padding-right: 10px;
  width:160px;
}
.about{
font-family: 'Josefin Sans', sans-serif;
padding-top: 180px;
	font-size: medium;
	left:0;
  right:0;
  margin:auto;
  color:white;

}
