body{
background-image: url("img/science.gif");
background-size: cover;
background-position: relative;
float: center;





}


.navbar-default.navbar-toggle{

  background-color: white;
}


.row {
/*margin: 0 auto;*/
display: block;
/*border: 2px solid green;*/

}




.navbar.semi-transparent {
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size:1.3em;
}

.navbar.semi-transparent.navbar-default .navbar-brand {
    color: yellow;
}
.navbar.semi-transparent.navbar-default .navbar-brand:hover{
  color:white;
}

.navbar.semi-transparent.navbar-default .navbar-nav>li>a{

  color:white;
}

.navbar.semi-transparent.navbar-default .navbar-nav>li>a:hover{

  color:#1abc9c;
}







ul a .navbar.semi-transparent{

    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
      box-shadow:none;
}




.navbar-brand{
  color: yellow;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar-brand:hover{

  color: white;
}


html{
  height: 100%;


}








#content {
  margin: 0 auto;
  text-align: center;
  padding-top: 25%;
  color: white;
  /*border:2px solid red;*/
  font-family: 'Josefin Sans', sans-serif;
}


/*Digital Clock */

 p {
 font-size: 50px;
 font-family: 'Iceland', cursive;
 /*color: #9af409;*/
 color:white;
 padding-top: 100px;


}

lebel{
 text-align: left;

 /*padding-top: 170px;*/
 /*margin:0 auto;
 position: block;*/
 /*padding-top: 50px;*/



}


















@media only screen and (min-width : 375px) and (max-width : 450px)
 {
   #content {
     margin: 100px auto;
     text-align: center;
     padding-top: 25%;
     color: white;
     /*border:2px solid red;*/
     font-family: 'Josefin Sans', sans-serif;

   }
hr {
  width :90%;
}

}




@media only screen and (min-width : 500px) and (max-width : 768px)
 {
   body{
       background-position-x:-26em;
       position: fixed;
   }

   #content {
       background-color: transparent;
       padding-top: 250px;
       float: left;



   }

   lebel {
     text-align: center;
     margin: 0 auto;
     /*padding-top: 300px;*/

   }
 p{
   color:#2cf408;
 }
}


@media only screen and (min-width : 768px) and (max-width : 1024px)
 {
   body{
       background-position-x:-26em;
   }

   #content {
       background-color: transparent;
       padding-left: 200px;

   }

   lebel {
     text-align: center;
     margin: 0 auto;
     /*padding-top: 300px;*/

   }
   p{
     color:#2cf408;
   }
}

@media only screen and (min-width : 375px) and (max-width : 550px)
 {


   body{
       background-position-x:-26em;
   }
   lebel {
     text-align: center;
     margin: 0 auto;
     /*padding-top: 300px;*/

   }

   p{
     color:#2cf408;
   }
}




@media only screen and (min-width: 375px) and (max-width: 550px) {

.navbar.semi-transparent.navbar-default .navbar-nav>li>a{
    color:#2cf408;
     width: 20%;
  }

  .navbar.semi-transparent.navbar-default .navbar-toggle .icon-bar {
    background-color: red;

}

}

@media only screen (min-width: 375) and (max-width: 550px){

  .row {
  margin: 0 auto;
  display: block;
  }

}
@media only screen and (min-width : 500px) and (max-width : 768px){
  .row {
  margin: 0 auto;
  display: block;
  }

}
@media only screen and (min-width : 736px) and (max-width: 1024px){
  div #content{
    margin-left: 170px;
    padding-top: 0;
  }

  lebel p {
    text-align: center;
    margin-left: 200px;;
    /*padding-top: 300px;*/

  }

  .navbar.semi-transparent.navbar-default .navbar-nav>li>a{
      color:#2cf408;
       width: 20%;
    }

    .navbar.semi-transparent.navbar-default .navbar-toggle .icon-bar {
      background-color: red;

  }
}
